<div class="g-card p-4 br">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 text-center">
      <img [src]="repo.avatar" alt="" class="w-100 br" />
    </div>
    <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12">
      <div class="card h-100">
        <div class="card-header p-0 pt-2 repo-name">
          <h3 class="bold"><a [href]="repo.url" class="text-decoration-none repo-name-link" target="_blank">{{ repo.name }}</a></h3>
        </div>
        <div class="card-body p-0">
          <span class="fw-light">{{ repo.description }}</span>
        </div>
        <div class="card-footer py-2 p-0 centering">
          <div>
            <div class="badger">
              <div class="rounded bg-secondary py-1 px-2 badger">
                <i class="fas fa-star text-warning"></i> Stars
              </div>
              <div class="p-1 rounded-right px-3 badger">
                <span class="bold">{{ repo.stars }}</span>
              </div>
            </div>
            <div class="badger pl-5 issue">
              <div class="rounded bg-secondary py-1 px-2 badger">
                <i class="fas fa-exclamation-circle text-danger"></i> Issues
              </div>
              <div class="p-1 rounded-right px-3 badger">
                <span class="bold">{{ repo.issues }}</span>
              </div>
            </div>
          </div>
          <div class="badger">
            <span class="text-secondary fw-light sm-text">
              Submitted {{ moment(repo.created).fromNow() }} by
              <a
                [href]="repo.owner_url"
                target="_blank"
                class="text-decoration-none text-primary"
              >
                {{ repo.owner }}
              </a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
