<div class="container p-5 center" id="main">
  <h1 class="fw-bold">Trending Repos</h1>
  <span class="pt-1 fw-light">This is a dynamic list of the most starred GitHub repositories in the past 30 days. This was done using the <a href="https://developer.github.com/v3/search/#search-repositories" target="_blank" class="text-decoration-none">GitHub API</a>.</span>
  <br>
  <div>
    <app-list [repoList]="repoList"></app-list>
  </div>
  <div *ngIf="isLoading$ | async" class="w-100 text-center my-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div>
    <app-error *ngIf="status !== 200" [error]="error" [status]="status"></app-error>
  </div>
</div>